ul {
  list-style: none;
  width: 100%;
}

div {
  -webkit-writing-mode: vertical-lr;
}

.top-image {
  width: 100%;
  height: 40vw;
}

.top-image-profile {
  height: 40vw;
  margin-left: 3vw;
}

.stair {
  width: 100%;
  height: 80vw;
}

.stair-text {
    margin-top: 10vw;
    font-size: 2.6vw;
    margin-left: 75vw;
}

.star-text h1 {
  font-weight: bold;
}

.stair-image-left {
  position: relative;
  margin-top: 4vw;
  margin-left: 6vw;
  height: 45vw;
}

.stair-image-right {
  position: relative;
  margin-top: 4vw;
  margin-right: 6vw;
  float: right;
  height: 45vw;
}
