body {
  color: #222;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 6vw auto;
  width: 90vw;
  text-align: center;
  font-size: 9vw;
}

.menubar {
  width: 80%;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 4vw;
  display: flex;
  justify-content: space-around;
}

li {
  font-size: 1.8em;
  list-style: none;
  text-align: center;
  width: 100%;
  height: 4vw;
  color: #222;
}

a {
  text-decoration: none;
}
